.total{
    /* background-image: url('D:\react\real-estate\src\assests\pexels-binyamin-mellish-106399 2.jpg'); */
    /* width: 100%;
      height: 100%; */
      position: fixed;
      /* top: 0; */
      left: 0;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat:no-repeat;
}
.userContainer{
    border-radius: 10px;
    background-color: cornsilk;
    margin-top: 10%;
    padding-top: 5px;
    padding-bottom: 20px;
    opacity: 85%;
}